footer,
footer ul,
footer ul li,
footer ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer:after,
footer > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
footer {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
	position: relative;
  background-color: #333333;
  text-align: center;
}
footer > ul > li {
  float: right;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
footer.align-center > ul {
  font-size: 0;
  text-align: center;
}
footer.align-center > ul > li {
  display: inline-block;
  float: none;
}
footer.align-right > ul > li {
  float: right;
}
footer > ul > li.align-left {
  float: left;
}
footer > ul > li > a {
  padding: 16px 20px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
footer > ul > li > ul {
	display: inline-flex;
}
footer > ul > li > ul > li > a.small-icon {
	border-radius: 100%;
	padding: 0;
	margin: 10px;
}
footer > ul > li > ul > li > a.small-icon > img {
	height: 26px;
	width: 26px;
	border-radius: 100%;
	padding: 0;
}
@media (max-width: 758px) {
	footer > ul > li,
	footer > ul > li.align-left {
		float: none;
	}
}
