@import url(http://fonts.googleapis.com/css?family=Raleway);
td {
	position: relative;
	display: block;
}
.overlay {
	position: absolute;
	white-space: nowrap;
	z-index: 1000;
}
#logo {
	float: left;
	height: 40px;
	width: 90px;
	margin-left: 10px;
	margin-top: 0;
}
#navbar,
#navbar ul,
#navbar ul li,
#navbar ul li a,
#navbar #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#navbar:after,
#navbar > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#navbar #menu-button {
  display: none;
}
#navbar {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#navbar > ul {
  background: #94070A;
}
#navbar > ul > li {
  float: right;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#navbar.align-center > ul {
  font-size: 0;
  text-align: center;
}
#navbar.align-center > ul > li {
  display: inline-block;
  float: none;
}
#navbar.align-right > ul > li {
  float: right;
}
#navbar > ul > li > a {
  padding: 16px 20px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: #A3070A;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#navbar > ul > li.active > a {
  color: #bbbbbb;
}
#navbar > ul > li:hover > a,
#navbar > ul > li > a:hover {
  color: #bbbbbb;
  -webkit-transform: rotateX(90deg) translateY(-23px);
  -moz-transform: rotateX(90deg) translateY(-23px);
  transform: rotateX(90deg) translateY(-23px);
  -ms-transform: none;
}
#navbar > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  color: #bbbbbb;
  background: #331414;
  content: attr(data-title);
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(- -18px);
}
#navbar > ul > li:hover > a::before,
#navbar > ul > li > a:hover::before {
  background: #94070A;
}
#navbar.small-screen {
  width: 100%;
}
#navbar.small-screen > ul,
#navbar.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#navbar.small-screen > ul > li,
#navbar.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#navbar.small-screen > ul > li:hover > a,
#navbar.small-screen > ul > li > a:hover {
  color: #bbbbbb;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#navbar.small-screen > ul > li > a::before {
  display: none;
}
#navbar.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #94070A;
}
#navbar.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
#navbar.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #bbbbbb;
  border-bottom: 2px solid #bbbbbb;
}
#navbar.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
#navbar.small-screen #menu-button.menu-opened:before {
  background: #bbbbbb;
}
