@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* CSS Document */
p, h1, h3, h5 {
	font-family: Raleway, sans-serif;
}
h5 {
	/*Make this bold somehow*/
	/*font-weight: 400;*/
}
.jumbotron {
	background-color: black;
	width: 100%;
	max-height: 200px;
	min-height: 200px;
	height: 200px;
	display: flex;
	overflow: hidden;
	position: relative;
}
.jumbotron button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}
#left {
	position: absolute;
	top: 0;
	left: 0;
	margin: 56px 20px;
}
#showing {
	width: 80%;
	min-height: inherit;
	position: absolute;
	top: 150px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}
#right {
	margin: 56px 20px;
	position: absolute;
	top: 0;
	right: 0;
}
#line-1 {
	width: 90%;
	margin: 10px auto 0;
	border-style: solid;
	border-width: 0;
	border-top-width: 3px;
}
#line-2 {
	width: 70%;
	margin: 7px auto 0;
	border-style: solid;
	border-width: 0;
	border-top-width: 2px;
}
#content {
	text-align: center;
	width: 50%;
	margin: 7px auto;
	border-style: solid;
	border-width: 0;
	padding: 5px 0;
}
#showcase {
	display: flex;
}
.blurb {
	text-align: center;
	font-size: 12px;
	margin: auto;
}
.blurb h5 {
	font-size: 18px;
	margin: 4px auto 0;
}
.blurb p {
	margin: 4px auto 0;
	display: none;
}
.blurb .icon {
	margin: 0 auto;
	height: 60px;
	width: 60px;
	border-width: 0px;
	border-style: solid;
	border-radius: 100%;
}
#hours {

}
